@tailwind base;
@tailwind components;
@tailwind utilities;

/* .login {
    background-image: url('../../public/d7c10ca2c366195e3e8a69e980287131.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
} */

li:focus {
    outline: none !important;
}

.menu li a:focus {
    @apply text-white !important;
}

.points {
    background: linear-gradient(86deg, #1F1F1F 0.71%, #000 99.72%) !important;
}